[Unit]
Description=Biocontroller Backend service file
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/biocontrol
User=pi
Type=simple
Restart=on-failure
ExecStart=/home/pi/biocontrol/venv/bin/python /home/pi/biocontrol/biocontroller.py

[Install]
WantedBy=multi-user.target
